* {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 15vw;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
  margin-top: 4rem;
}

p {
  font-size: 1.5rem;
  line-height: 1.4;
}

footer > div{
  display: flex;
  gap: 1rem;
}

.icon {
  margin-right: 1rem;
}

.icon {
  text-decoration: none;
}

p > a:hover {
  color: red;
}

svg {
  height: 2rem;
  width: 2rem;
}

svg:hover {
  color: red;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #121212;
    color: #fff;
  }

  a {
    color: #fff;
  }

  a:hover {
    color: red;
  }

  a:visited {
    color: #fff;
  }

  svg {
    color: #fff;
  }
}

@media (prefers-color-scheme: light) {
  a {
    color: black;
  }

  a:visited {
    color: black;
  }

  svg {
    color: black;
  }
}

span.hand {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
    0% { transform: rotate(  0.0deg); }
   10% { transform: rotate(-10.0deg); }
   20% { transform: rotate( 12.0deg); }
   30% { transform: rotate(-10.0deg); }
   40% { transform: rotate(  9.0deg); }
   50% { transform: rotate(  0.0deg); }
  100% { transform: rotate(  0.0deg); }
}







