---
import BasePageLayout from '../../layouts/BasePageLayout.astro';
import { formatDate } from '../../time';
import { type CollectionEntry, getCollection } from 'astro:content';

export async function getStaticPaths() {
	const posts = await getCollection('blog');
	return posts.map((post) => ({
		params: { slug: post.slug },
		props: post
	}));
}

type Props = CollectionEntry<'blog'>;

const post = Astro.props;
const { Content } = await post.render();

const formattedDate = formatDate(post.data.pubDate);
---

<BasePageLayout title={post.data.title} description={post.data.description}>
	<article>
		<header class="pt-3">
			<a href="/blog">&larr; Go Back</a>

			<h1 class="mt-8">{post.data.title}</h1>

			<p class="mt-4">{formattedDate}</p>
		</header>

		<section class="prose prose-lg prose-invert mt-4">
			<Content />
		</section>
	</article>
</BasePageLayout>
