---
import BasePageLayout from '../../layouts/BasePageLayout.astro';
import { formatDate } from '../../time';
import { getCollection } from 'astro:content';

const posts = await getCollection('blog');
const { slug } = Astro.params;
const post = posts.find((page) => page.slug === slug);
if (!post) return Astro.redirect("/404");

const { Content } = await post.render();
const formattedDate = formatDate(post.data.pubDate);
---

<BasePageLayout title={post.data.title} description={post.data.description}>
	<article>
		<header class="pt-3">
			<a href="/blog" class="hover:text-white">&larr; Go Back</a>

			<h1 class="mt-8">{post.data.title}</h1>

			<p class="mt-4">{formattedDate}</p>
		</header>

		<section class="prose prose-lg prose-invert mt-4">
			<Content />
		</section>
	</article>
</BasePageLayout>
