---
import BasePageLayout from "../layouts/BasePageLayout.astro";

const title = "Page not found | Rendani Gangazhe";
const description = "Page not found.";
---

<BasePageLayout title={title} description={description}>
    <div class="flex flex-col items-center">
        <h1>🤔 404</h1>

        <p>Oops! Page not found.</p>

        <a class="m-4 rounded bg-zinc-100 px-8 py-4 text-black shadow-md hover:bg-zinc-300" href="/">
            Take me home!
        </a>
    </div>
</BasePageLayout>