---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Rendani Gangazhe - Software Engineer">
  <h1>Blog</h1>

  <p class="text-lg mt-8">
    I'll post something here when I've got something to say...
  </p>
</Layout>
