---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";

const avatarSrc = "/images/avatar.png";
---

<Layout title="Rendani Gangazhe - Software Engineer">
  <h1 class="text-3xl md:text-5xl text-center md:text-left">
    <span class="hand"> &#128075;</span> Hey, I'm Rendani.
  </h1>

  <div class="flex flex-col items-center justify-center md:flex-row md:my-12">
    <img
      class="rounded-full w-32 h-32 shadow-md my-8 md:mr-8 md:my-0"
      src={avatarSrc}
      alt="My portrait"
    />

    <p class="text-2xl md:text-3xl font-bold tracking-wide">
      Full stack web/mobile app software engineer. Computer science student.
      Music-head. Guitarist.
    </p>
  </div>

  <div>
    <p class="text-lg mt-4">
      Using every piece of knowledge I gather along the way I aim to build
      quality and maintainable web, cloud-based and mobile software.
    </p>

    <div class="flex flex-col lg:flex-row gap-4 my-8">
      <Card
        href="/about/#skills"
        title="My Skills"
        body="Read up on my skills and what I have to offer"
      />

      <Card
        href="/about/#experience"
        title="Professional Experience"
        body="A brief outline of my professional experience"
      />
    </div>
  </div>
</Layout>

<style>
  span.hand {
    animation-name: wave-animation;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;
  }

  @keyframes wave-animation {
    0% {
      transform: rotate(0deg);
    }
    10% {
      transform: rotate(-10deg);
    }
    20% {
      transform: rotate(12deg);
    }
    30% {
      transform: rotate(-10deg);
    }
    40% {
      transform: rotate(9deg);
    }
    50% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
</style>
