---
import BasePageLayout from '../layouts/BasePageLayout.astro';
import Card from '../components/Card.astro';

const title = 'Link Tree | Rendani Gangazhe';
const description =
	"My personal link tree where you can find more information on what I'm up to.";
const websiteRepoURL = 'https://github.com/Renni771/rendanigangazhe.com';
---

<BasePageLayout title={title} description={description}>
	<h1 class="mt-4">link tree</h1>

	<p class="mt-4 text-lg">
		Here's a little link tree where you can find more information on what I'm up
		to.
	</p>

	<div class="my-8 flex w-full flex-col gap-4">
		<Card
			href="https://github.com/Renni771"
			title="Github"
			body="Check out my open-source work on Github."
		/>

		<Card
			href="https://www.linkedin.com/in/rendani-gangazhe-817243144/"
			title="LinkedIn"
			body="Link with me professionally."
		/>

		<Card
			href="https://rendanigangazhe.com/rss.xml"
			title="RSS Feed"
			body="Here is the RSS feed for my blog."
		/>
	</div>

	<p class="text-lg">
		You can also <a href={websiteRepoURL}>
			<strong class="text-gray-100"
				>view the source code for this website on Github</strong
			>
		</a>.
	</p>
</BasePageLayout>
