---
export interface Props {
  title: string;
  body: string;
  href: string;
}

const { href, title, body } = Astro.props;
---

<div
  class="flex p-0.5 transition-transform hover:scale-105 border-zinc-500 rounded border-2"
>
  <a href={href} class="w-full no-underline py-4 px-6">
    <h2 class="m-0 text-xl">
      {title}
      <span>&rarr;</span>
    </h2>
    <p class="mt-2 mb-0">
      {body}
    </p>
  </a>
</div>
