---
export interface Props {
  title: string;
  body: string;
  href: string;
}

const { href, title, body } = Astro.props;
---

<ul>
  <li class="link-card flex p-0.5 rounded-lg shadow-md list-none">
    <a
      href={href}
      class="w-full no-underline py-4 px-6 text-black rounded opacity-80 bg-white"
    >
      <h2 class="m-0 text-xl">
        {title}
        <span>&rarr;</span>
      </h2>
      <p class="mt-2 mb-0 text-gray-500">
        {body}
      </p>
    </a>
  </li>
</ul>

<style>
  .link-card {
    background-image: var(--accent-gradient);
    background-size: 400%;
    background-position: 100%;
    transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
  }

  .link-card > a {
    line-height: 1.4;
  }

  h2 {
    transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
  }

  .link-card:is(:hover, :focus-within) {
    background-position: 0;
  }

  .link-card:is(:hover, :focus-within) h2 {
    color: rgb(var(--accent));
  }
</style>
